<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renderizando listas com v-for</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Produtos</h1>
        <ul>
            <li v-for="produto in produtos">
                {{ texto }} {{produto}}
            </li>
        </ul>
        <ul>
            <li v-for="produto of produtos">
                {{ texto }} {{produto}}
            </li>
        </ul>

    </div>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                texto: 'Produto: ',
                produtos: [
                    'Monitor', 'Teclado', 'Mouse'
                ]
            }
        });

    </script>

</body>

</html>